<app-header></app-header>
<div class="div">
  <router-outlet></router-outlet>
  <!-- <app-child  [myCounter] = "counter"></app-child> -->
  <!-- <div class="container btn">
    <div class="div">
      <button  mat-raised-button color="primary"(click)="increment">Increment</button>
    </div>
    <div class="div">
      <button mat-stroked-button color="primary" (click)="decrement">Decrement</button>
    </div>
  </div> -->

</div>

<!-- <div style="text-align:center">
  <h1>Angular View Encapsulation</h1>
</div>
<h2>Hover over these dummy buttons</h2>
<ul>
  <li class="btns">
    <h2>
      <a target="_blank" rel="noopener" href="../profile">Profile</a>
    </h2>
  </li>
  <li class="btns">
    <h2>
      <a target="_blank" rel="noopener" href="../test-components">Selector Test</a>
    </h2>
  </li>
</ul>

<li class="btns">
  <h2>
    <a target="_blank" rel="noopener" href="#">Angular blog</a>
  </h2>
</li> -->
<app-footer></app-footer>

